soap/HandbookService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://axis.makedon.by" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://axis.makedon.by/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://axis.makedon.by">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://axis.makedon.by/xsd">
            <xs:complexType name="Article">
                <xs:sequence>
                    <xs:element minOccurs="0" name="articleId" type="xs:int"/>
                    <xs:element minOccurs="0" name="author" nillable="true" type="ax21:Author"/>
                    <xs:element minOccurs="0" name="body" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="date" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="image" nillable="true" type="ax21:Image"/>
                    <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Author">
                <xs:sequence>
                    <xs:element minOccurs="0" name="authorId" type="xs:int"/>
                    <xs:element minOccurs="0" name="country" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Image">
                <xs:sequence>
                    <xs:element minOccurs="0" name="imageId" type="xs:int"/>
                    <xs:element minOccurs="0" name="path" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://axis.makedon.by/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://axis.makedon.by">
            <xs:import namespace="http://axis.makedon.by/xsd"/>
            <xs:element name="updateArticle">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="ax22:Article"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateArticleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="takeArticleList">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="takeArticleListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:Article"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="takeArticle">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="takeArticleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:Article"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteArticle">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="ax22:Article"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteArticleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="add">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="ax22:Article"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addRequest">
        <wsdl:part name="parameters" element="ns:add"/>
    </wsdl:message>
    <wsdl:message name="addResponse">
        <wsdl:part name="parameters" element="ns:addResponse"/>
    </wsdl:message>
    <wsdl:message name="updateArticleRequest">
        <wsdl:part name="parameters" element="ns:updateArticle"/>
    </wsdl:message>
    <wsdl:message name="updateArticleResponse">
        <wsdl:part name="parameters" element="ns:updateArticleResponse"/>
    </wsdl:message>
    <wsdl:message name="takeArticleListRequest">
        <wsdl:part name="parameters" element="ns:takeArticleList"/>
    </wsdl:message>
    <wsdl:message name="takeArticleListResponse">
        <wsdl:part name="parameters" element="ns:takeArticleListResponse"/>
    </wsdl:message>
    <wsdl:message name="takeArticleRequest">
        <wsdl:part name="parameters" element="ns:takeArticle"/>
    </wsdl:message>
    <wsdl:message name="takeArticleResponse">
        <wsdl:part name="parameters" element="ns:takeArticleResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteArticleRequest">
        <wsdl:part name="parameters" element="ns:deleteArticle"/>
    </wsdl:message>
    <wsdl:message name="deleteArticleResponse">
        <wsdl:part name="parameters" element="ns:deleteArticleResponse"/>
    </wsdl:message>
    <wsdl:portType name="HandbookServicePortType">
        <wsdl:operation name="add">
            <wsdl:input message="ns:addRequest" wsaw:Action="urn:add"/>
            <wsdl:output message="ns:addResponse" wsaw:Action="urn:addResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateArticle">
            <wsdl:input message="ns:updateArticleRequest" wsaw:Action="urn:updateArticle"/>
            <wsdl:output message="ns:updateArticleResponse" wsaw:Action="urn:updateArticleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="takeArticleList">
            <wsdl:input message="ns:takeArticleListRequest" wsaw:Action="urn:takeArticleList"/>
            <wsdl:output message="ns:takeArticleListResponse" wsaw:Action="urn:takeArticleListResponse"/>
        </wsdl:operation>
        <wsdl:operation name="takeArticle">
            <wsdl:input message="ns:takeArticleRequest" wsaw:Action="urn:takeArticle"/>
            <wsdl:output message="ns:takeArticleResponse" wsaw:Action="urn:takeArticleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteArticle">
            <wsdl:input message="ns:deleteArticleRequest" wsaw:Action="urn:deleteArticle"/>
            <wsdl:output message="ns:deleteArticleResponse" wsaw:Action="urn:deleteArticleResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HandbookServiceSoap11Binding" type="ns:HandbookServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="add">
            <soap:operation soapAction="urn:add" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateArticle">
            <soap:operation soapAction="urn:updateArticle" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="takeArticleList">
            <soap:operation soapAction="urn:takeArticleList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="takeArticle">
            <soap:operation soapAction="urn:takeArticle" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteArticle">
            <soap:operation soapAction="urn:deleteArticle" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HandbookServiceSoap12Binding" type="ns:HandbookServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="add">
            <soap12:operation soapAction="urn:add" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateArticle">
            <soap12:operation soapAction="urn:updateArticle" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="takeArticleList">
            <soap12:operation soapAction="urn:takeArticleList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="takeArticle">
            <soap12:operation soapAction="urn:takeArticle" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteArticle">
            <soap12:operation soapAction="urn:deleteArticle" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HandbookServiceHttpBinding" type="ns:HandbookServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="add">
            <http:operation location="add"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateArticle">
            <http:operation location="updateArticle"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="takeArticleList">
            <http:operation location="takeArticleList"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="takeArticle">
            <http:operation location="takeArticle"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteArticle">
            <http:operation location="deleteArticle"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HandbookService">
        <wsdl:port name="HandbookServiceHttpSoap11Endpoint" binding="ns:HandbookServiceSoap11Binding">
            <soap:address location="http://localhost:8080//services/by/makedon/axis/HandbookService"/>
        </wsdl:port>
        <wsdl:port name="HandbookServiceHttpSoap12Endpoint" binding="ns:HandbookServiceSoap12Binding">
            <soap12:address location="http://localhost:8080//services/by/makedon/axis/HandbookService"/>
        </wsdl:port>
        <wsdl:port name="HandbookServiceHttpEndpoint" binding="ns:HandbookServiceHttpBinding">
            <http:address location="http://localhost:8080//services/by/makedon/axis/HandbookService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
